<ul class="nav">
	<li class="nav-item">
		<button class="save" id="scrapeNews">News Scrape</button>
	</li>
	&nbsp&nbsp
	<li class="nav-item">
		<button class="save" id="saveArticle">Saved</button>
	</li>
</ul>
<div id="news">
	
</div>